@import '../../scss/lib/theme/_vars';

player-info {
  min-width: 45%;

  .player-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $light;
    min-height: 100%;
    border-radius: 75px;

    li {
      list-style: none;
      font-size: 1.5em;
    }
  }
}
