<section class="player-info">
  <h2>Player Info</h2>

  <ul>
    <li>
      <span>Name:</span>
      <span>{{ playerInfoCtrl.player.name }}</span>
    </li>
    <li>
      <span>Current Location:</span>
      <span>{{ playerInfoCtrl.player.location }}</span>
    </li>
    <li>
      <span>Pokeballs:</span>
      <span>{{ playerInfoCtrl.player.pokeballs }}</span>
    </li>
    <li>
      <span>Pokemon:</span>
      <span ng-repeat="pokemon in playerInfoCtrl.player.pokemon">{{ pokemon }} </span>
    </li>
  </ul>

</section>
