@import '../../scss/theme/theme';

.history {
  width: 50%;
  float: right;
  margin-right: 10%;
  padding: $gutter-sm;
  height: 400px;

  h2 {
    border-bottom: solid 2px $brand-secondary;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: $gutter-sm/4;
  }

  ul {
    padding: $gutter-sm;

    li {
      padding-bottom: .7em;
    }
  }
}
