.player-info {
  border: solid 2px $brand-primary;
  padding: $gutter-sm $gutter-std;
}

ul {
  list-style: decimal;
}

  li {
    margin-bottom: $gutter-sm / 2;
  }

  span {
    font-size: 2vw;
  }
