<section class="gamepad">
  <form name="gamepad" novalidate>
    <label for="direction">travel to the</label>
    <button type="button" ng-click="gamePadCtrl.movePlayer()">move player</button>
    <select ng-model="gamePadCtrl.moveDirection">
      <option ng-repeat="direction in gamePadCtrl.directions" value="{{ direction }}">
      {{ direction }}
      </option>
    </select>
    <button type="button" ng-click="gamePadCtrl.takeGold()">Take Gold</button>
    <button type="button" ng-click="gamePadCtrl.exchangeGold()" class="displayNone" id="marketDefault">Purchase boltcutters</button>
    <button type="button" ng-click="gamePadCtrl.freeScott()" class="displayNone" id="jailButton">FREE SCOTT!</button>
  </form>
</section>
