.game-history {
  margin: 2%;
}

ol, ul {
  list-style: none;
  }

li {
  margin-bottom: 2%;
  padding-bottom: 5px;
  border-radius: 5px;
  color: black;
  background-color: #99CCFF;
      }

#header {
  background-color: #4598E6
}

p {
  padding-left: 10%;
}
