@import "../../scss/lib/theme/_theme";

.gamepad {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    margin-bottom: 1vw;
    font-size: 3vw;
    font-style: italic;
  }
  select {

  }

  button {
    width: 100%;
    margin: 1vw 2vw 0 0;
  }
}
