<section class="player-info">
  <h2>stats</h2>

  <ul>
    <li>
      <span>name:</span>
      <span>{{ playerInfoCtrl.player.name }}</span>
    </li>
    <li>
      <span>gold:</span>
      <span>{{ playerInfoCtrl.player.gold }}</span>
    </li>
    <li>
      <span>location:</span>
      <span>{{ playerInfoCtrl.player.location }}</span>
    </li>
    <span>Description:</span>
    <span>{{ playerInfoCtrl.player.msg }}</span>
    <li>
      <div ng-show="playerInfoCtrl.player.items.length">
      <span>Items:</span>
      <span>{{ playerInfoCtrl.player.items }}</span>
    </div>
  </li>
  </ul>
</section>
