@import '../../scss/lib/theme/_vars';

game-pad {
  min-width: 45%;
}

.game-pad {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $light;
  min-height: 90%;
  border-radius: 75px;

  h3 {
    font-size: 1.25em;
  }
}
